.acitive-tab {
    border-bottom: 5px solid #696cff;
}   

.card-header {
    border-bottom: 1px solid #c5c5c5;
}

.sub-section-row {
    display: flex;
    border-top: 1px solid #e1e3ea;
    margin-top: 0 !important;
}

.sub-section-row:first-child {
    border-top: none;
}

.sub-section-row .sub-section-label {
    padding: 20px 10px 20px 30px;
    flex: 0 0 200px;
    border-right: 1px solid #e1e3ea;
    background-image: linear-gradient(45deg, #fff, rgba(0, 40, 132, 0.02));
}

.sub-section-row .sub-section-content {
    padding: 20px;
    flex: 1;
}

.sub-section-row .sub-section-label h3 {
    font-size: 16px;
    margin-bottom: 0px;
    padding-top: 13px;
    color: #5c5f83;
}

.form-label, .col-form-label {
    text-transform: none;
    display: block;
    margin-bottom: 1px;
    cursor: default;
    font-size: 14px;
    font-weight: 500;
    color: #8e99bd;
    font-weight: 500;
}

.switch-toggle-slider {
    border: none !important;
}

.switch-off {
    background: rgba(48, 73, 144, 0.17);
}

.switch .switch-toggle-slider:after {
    top: 0;
    background: white;
}

.switch-label {
    cursor: pointer;
    color: #2D303A;
    font-size: 16px;
}

.switch-label p {
    margin-top: 4px;
    color: #8e99bd;
    display: inline-block;
    font-size: 13px;
}

.alert-secondary {
    padding: 10px 15px;
    font-weight: 500;
    margin-bottom: 20px;
    background: #f9f9f9;
    color: #8e99bd;
    border: 2px solid #e7e7ef;
}

.dropzone:hover {
    border-color: #2652E4;
}